<div class="modal fade" id="editWorkplaceModal" tabindex="-1" aria-labelledby="editWorkplaceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWorkplaceModalLabel">Edit Workplace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('shout.shout_admin', shout_id=shout.id) }}">
                    {{ edit_shout_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ edit_shout_form.workplace.label }}
                        {{ edit_shout_form.workplace(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>